<div id="header">
  <div id="logo">
     <div id="object1"><span style="text-align: left; font-weight: 500; line-height: 10%; font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif;"><img src="../131717.png" width="40" height="40" alt=""/></span></div>
  </div>
  <div id="left">
     <div id="object3" style="font-size: xx-large">  
       <p>|Cyber Security Platform     </p>
     </div>
  </div>
</div>
<p><br style="clear:both;"/>
</p>

<div class="Content" style="font-size: x-large; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif; font-style: normal; font-weight: 900; text-align: center; text-shadow: 0px 0px; border-radius: 10px; background-color: #FFFF19; color: #4F4F4F;">Vulnerable</div>
  <div class="chart-gauge"></div>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js'></script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
    <script type='text/javascript' src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>

  	<script src="public/js/index.js"></script>


    <div class="Content" style="font-size: medium; font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif; font-style: normal; font-weight: 900; text-align: center; margin-left: 10%; margin-right: 10%;">Some of your devices are no longer supported by the manufacturers</div>

<div class="cotent" style="font-size: xx-large; font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif; font-style: normal; font-weight: 900; text-align: left; border-radius: 0px;">Network Threat Monitor</div>
    
<script src="public/js/diagram.js"></script>
<div class="node-graph"></div>